.App {
  min-height: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  background-image: url(img/1920-Nave-4.jpg);
  background-size: cover;
}