@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

.container{
    text-decoration: none;
    font-family: monospace;
    font-size: 1.5rem;
    color: #d5def5; 
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #d5def5; 
    background: #363a3b;
    -webkit-box-shadow: 3px 3px #d5def5; 
    box-shadow: 3px 3px #d5def5; 
    margin-right: 2%;
}
.container:hover {
    transform: translateY(-5px);
    transition: transform 0.2s;
}